:root{
    margin:0;
    padding: 0;
    position:0;
    background-color: rgb(192, 192, 192);
}
#jp_container_1{
    margin-top: 10px;
    position: absolute;
    left: 1%;
    justify-content: center;
    background-color: rgb(128, 128, 128);;
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    font-size: 20px;
}
.col{
    color: white;
    background-color: rgb(192, 192, 192);
}
small{
    color: white;
}
.a{
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

.jp-video{
    line-height: 3.5;

}